body {
    background-color: black;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.logo {
    width: 7vw;
    height: 7vw;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    border-bottom: white 1px solid;
    color: white;
    font-size: 7vw;
    
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(111, 209, 206);
    padding: 4vw;
    border-bottom: white 1px solid;
    font-size: 3vw;
    text-align: center;
}

h2 {
    color: yellow;
    font-size: 5vw;
}

h3 {
    color: white;
    font-size: 4vw;
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: white 1px solid;
    padding: 4vw;
}

.headshot {
    width: 25vw;
    height: 25vw;
    border-radius: 25%;
    padding: 3vw;
}

.clare {
    display: flex;
    flex-direction: row;
    align-items: center;
    color:rgb(111, 209, 206);
    font-size: 3vw;
}

.programs img {
    width: 25vw;
    border-radius: 10%;
    padding: 2vw;
}

.programs {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:rgb(111, 209, 206);
    font-size: 2vw;
}

.images {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}